/*Menu icon*/
#clouds_menu_icon {background-image:url(icons/clouds/mnu_clouds.gif);}
#clouds_page_icon {background-image:url(icons/clouds/title.gif);}

div.clouds_menu_icon_folder {background-image:url(/bitrix/images/fileman/types/folder.gif); width: 17px; height: 17px; float:left;}
div.clouds_menu_icon_folder_up {background-image:url(/bitrix/images/fileman/types/folder_up.gif); width: 17px; height: 17px; float:left;}
