table.blog-user-settings-table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	color: #000000; 
}

table.blog-user-settings-table th
{
	background-color:#F1F5FA;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border:1px solid #8FB0D2;
	vertical-align:top;

}

table.blog-user-settings-table td
{
	border:1px solid #8FB0D2;
	vertical-align:top;
	padding: 3px;

}

.blogtext {}