img.linked
{
	position: relative;
	left: 2px;
	top: 6px;
	width: 11px;
	height: 21px;
	border: none;
	cursor: pointer;
}
.iblock-strike-out td
{
	text-decoration: line-through;
}
.iblock-section-icon
{
	padding-left: 25px;
	display: inline-block;
	position: relative;
}

.iblock-section-icon:before
{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 21px;
	height: 15px;
	background: url("/bitrix/panel/main/images/icons-sprite-2.png") no-repeat 0 -118px;
}